@import "../../../styles/settings.scss";

// .root {
// }

.main {
  @extend %hover-effect;
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.medium {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 7px 20px;
  font-weight: 400;
}

.big {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 10px 15px;
  font-weight: 400;
  color: $text-color;
  background-color: $promo-text-color;
}

.outline {
  @extend %hover-effect;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: #2a2a2a;
    color: #ffffff;
  }
}

.white {
  @extend %hover-effect;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $text-color;
  color: $text-color;
  font-size: 13px;
  line-height: 22px;
  margin-right: 10px;

  &:not(.noHover):hover {
    background-color: $primary;
    color: $component-bg-color;
    border: 1px solid $primary;
    text-decoration: none;
  }
}

.quantity {
  @extend .white;
  height: 35px;

  &:not(.noHover):hover {
    background-color: $component-bg-color;
    color: $primary;
  }
}
