@import "../../../styles/settings.scss";

// .root {
// }

.main {
  @extend %hover-effect;
  background-color: $button-main-bgc;
  color: $button-main-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-main-not-color !important;
    background-color: $button-next-back-hover;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.medium {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 7px 20px;
  font-weight: 400;
}

.big {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 10px 15px;
  font-weight: 400;
  color: $button-main-bgc;
  background-color: $promo-text-color;
  z-index: 2;
}

.outline {
  @extend %hover-effect;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-outline-border;
  color: $button-outline-color;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $button-outline-border;
    color: $button-outline-not-color;
  }
}
