@import "../../../styles/settings.scss";

.root {
  background-color: $companyClaim-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: $companyClaim-phone-color;
      font-weight: 500;

      .icon {
        font-size: 32px;
        color: $companyClaim-cardIcon-bc;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    .phoneNumber {
      display: none;
    }

    .cartBox {
      @extend %hover-effect;
      display: inline-block;
      position: relative;
      color: $companyClaim-cardBox-color;

      .cartIcon {
        background-color: $companyClaim-cardIcon-bc;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
      }

      .icon {
        margin-right: 15px;
      }

      .cartCounter {
        width: 28px;
        height: 27px;
        border-radius: 18px;
        background-color: $companyClaim-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $companyClaim-cardCounter-color;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        padding: 20px;
      }

      &:hover {
        .cartIcon {
          background-color: lighten($companyClaim-cardIcon-bc, 10%);
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .root {
    .phoneNumber {
      display: none;
    }

    .cart {
      .cartBox {
        transform: translate(0, -30%);
      }

      .phoneNumber {
        position: absolute;
        display: flex;
        text-align: right;
        align-items: right;
        right: 0;
        margin-right: 15px;

        p {
          font-size: 14px;
        }
      }
    }
  }
}
