@import "../../../styles/settings.scss";

.HotDeals {
  height: 50px;
  width: 100%;
  background-color: $text-color;
  color: #ffffff;
  text-transform: uppercase;

  p{
    padding: 10px;
    font-size: 20px;
  }

  .dots {
    position: absolute;
    right: 0;
    top: 0;

    ul {
      margin: 0;
      padding: 0 0 0 1rem;
      list-style: none;
      background-color: $text-color;
      transform: translateY(15px);

      li {
        display: inline-block;
        margin-left: 0.5rem;

        a {
          @extend %hover-effect;
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 6px;
          background-color: #e1e1e1;
          font-size: 0;

          &.active,
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
}
.secondProduct {
  .carousel {
    height: 400px;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .description {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      color: rgb(216, 216, 216);
      text-align: center;

      h2 {
        font-size: 40px;
        font-weight: 200;

        span {
          font-weight: 600;
        }
      }

      p {
        font-size: 20px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 50%;
      transform: translate(0, -50%);
      background-color: $text-color;
      opacity: 0.5;
      z-index: -1;
    }
  }
  .carouselButtonWrapper {
    position: relative;

    .colLeft {
      margin-right: 0px;
      padding-right: 0px;
    }

    .colRight {
      margin-left: 0px;
      padding-left: 0px;
    }

    a {
      color: white;

      .carouselButton {
        height: 40px;
        width: 100%;
        background-color: $text-color;
        color: white;
        text-align: center;

        .icon {
          transform: translate(0, 10px);
        }

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
