@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $clientFeedback-panelbar-border;
    }
  }

  .heading {
    position: relative;
    width: 100%;

    h3 {
      color: $clientFeedback-h-color;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
      margin: 0;
      letter-spacing: 1px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 45px;
      border-bottom: 4px solid $clientFeedback-border;
    }
  }

  .dots {
    position: absolute;
    right: 0;
    top: 0;

    ul {
      margin: 0;
      padding: 0 0 2px 1rem;
      list-style: none;
      background-color: $clientFeedback-dots-bc;
      transform: translateY(15px);
    }

    ul li {
      display: inline-block;
      margin-left: 0.5rem;

      button {
        @extend %hover-effect;
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 6px;
        background-color: $clientFeedback-dots-a;
        font-size: 0;
        opacity: 2;
        border: none;
        outline: none;

        &.active,
        &:hover {
          background-color: $clientFeedback-hover-dc;
        }
      }
    }
  }

  .noComent {
    flex: auto;
    text-align: center;
    padding: 40px;
    font-size: 25px;
  }
}
