$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;
$text-color-two: rgb(169, 169, 169);
$form-border-color: #292929;

$old-price: #ff0000;
