@import "../../../styles/settings.scss";

.wrapper {
    display: flex;
    justify-content: flex-end;
}

.sort {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.show {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.show label {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    justify-content: center;
    position: relative;
    top: 4px;
}

.sort label {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 100px;
    position: relative;
    top: 4px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: 1px solid $controlBar-box-frame-color;
    border-radius: 5px;
}

.collection {
    margin: .2rem;
    visibility: hidden;
}

.list {
    margin-left: 1rem;
    visibility: hidden;
}

.icon {
    position: relative;
    top: 0px;
    left: -16px;
}

.icon:hover {
    color: $controlBar-button-hover-color;
}