@import "../../../styles/settings.scss";

.root {
  @extend %hover-effect;
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    align-items: center;
    position: relative;
    display: flex;
    width: 215px;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    .list {
      margin: 0;
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      list-style-type: none;

      .listCategory {
        display: block;
        border: none;
        background-color: transparent;
        left: -12%;
        padding-right: 10px;
      }

      li {
        position: relative;
        padding: 10px 0 0 20px;
        width: 100%;
        height: 100%;
        background-color: $sale-color;
        display: none;
      }
    }

    .list:hover {
      .listCategoryItems {
        display: block;
        cursor: pointer;
        padding: 5px 10px;
        width: 165px;
        text-align: left;
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
