@import "../../../styles/settings.scss";

.root {
  @extend %hover-effect;
  border: 1px solid $featureBox-root-border;
  text-align: center;
  margin-top: 40px;
  width: 100%;

  .iconWrapper {
    height: 60px;
    transform: translateY(-50%);
    color: $featureBox-content-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .icon {
      position: relative;
      z-index: 9;
    }

    &::before {
      content: "";
      border: 1px solid $featureBox-icon-border;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 76px;
      height: 76px;
      border-radius: 100%;
      background-color: $featureBox-icon-bgc;
      z-index: -1;
    }

    &::after {
      content: "";
      width: 60px;
      height: 60px;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $featureBox-icon-border;
    }
  }

  .content {
    text-transform: uppercase;
    color: $featureBox-content-color;
    margin-top: -0.5rem;
    letter-spacing: 1px;
    font-weight: 300;

    h5 {
      font-weight: 600;
      margin: 0;
    }
  }

  &:hover {
    .iconWrapper {
      color: $featureBox-hover;

      &::after {
        background-color: $featureBox-hover-bc;
        border-color: $featureBox-hover-bc;
      }
    }

    .content {
      color: $featureBox-hover-color;
    }
  }
}
