@import "../../../styles/settings.scss";

.root {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100%;
    background: $white;
    opacity: 0;
    display: block;
    visibility: hidden;
  }

  .overlayIn {
    opacity: 0.7;
    visibility: visible;
    transition: all 0.9s cubic-bezier(0.87, 0, 0.13, 1);
  }

  .overlayOut {
    opacity: 0;
    visibility: hidden;
    transition: all 0.9s cubic-bezier(0.87, 0, 0.13, 1);
  }

  .cart {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
    width: 500px;
    height: 100%;
    padding-bottom: 50px;
    background: $white;
    display: flex;
    flex-direction: column;
    transition: right 0.9s cubic-bezier(0.87, 0, 0.13, 1);
    border-left: 1px dotted $productBorder;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .cartOpen {
    right: 0;
  }

  .cartClose {
    right: -500px;
  }

  .title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    padding: 50px;
    text-transform: uppercase;
  }

  .isEmpty {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    padding: 50px;
  }

  .products {
    padding: 10px 0;
  }

  .product {
    display: flex;
    margin: 25px;
    padding: 25px 0;
    border-bottom: 1px dotted $productBorder;
    align-items: center;
    justify-content: space-between;

    .productImg {
      width: 100px;
      height: 100px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .productName {
      p {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.5;
        padding: 0 25px;
      }

      span {
        font-size: 0.9rem;
        font-weight: 400;
        color: $cartPrice;
        padding: 0 25px;
      }
    }

    .productQuantity {
      font-size: 0.9rem;
      font-weight: 300;
      white-space: nowrap;
    }

    .quantityBox {
      border: 1px solid $productQuantity;
      padding: 5px 12px;
      margin: 0 10px;
      font-size: 0.7rem;
      color: $cartPrice;
    }

    .quantityButton {
      cursor: pointer;
      user-select: none;

      &:hover {
        color: $cartPrice;
      }
    }

    .productRemove {
      padding: 25px;
      transform: translateY(-7px);
      cursor: pointer;
      transition: all 0.4s ease-in-out;

      &:hover {
        color: $cartClose;
      }
    }
  }

  .subtotal {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }

  .subtotalPrice {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: $cartPrice;
  }

  .checkOutButton {
    text-align: center;

    a {
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      padding: 15px 35px;
    }

    span {
      padding-right: 20px;
    }
  }

  .close {
    position: absolute;
    top: 50px;
    right: 40px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      color: $cartClose;
    }
  }
}
