@import "../../../styles/settings.scss";

.menu {
  background-color: gray;
  margin-bottom: 50px;
  height: 400px;
  display: flex;

  .furniture {
    color: $topBar-color-a;
    font-size: 21px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    display: flex;
    position: relative;
    right: -900px;
    top: -50px;

    li {
      display: flex;
      margin: 0 5px 0 0;
      color: white;
      font-size: 20px;

      a {
        @extend %hover-effect;
        color: $topBar-color-a;
        font-size: 14px;
        display: flex;
        align-items: center;

        &:hover {
          color: $topBar-color;
        }
      }
    }
  }

  h2 {
    color: $topBar-color-a;
  }
}
