@import "../../../styles/settings.scss";

.root {
  .footerMenu {
    background-color: $footer-bg;
    padding: 3rem 10%;

    img {
      margin-left: auto;
      padding-left: 40%;
    }

    .paymentMethods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .menuWrapper {
    h6 {
      color: $footer-menu-h6;
      text-transform: uppercase;
      margin: 0 0 1rem 0;
    }

    ul {
      margin: 0 0 1.5rem 0;
      padding: 0;
      list-style: none;

      li > a {
        //@extend %hover-effect;
        font-size: 14px;
        line-height: 30px;
        color: $footer-menu-a;

        &:hover {
          color: $footer-menu-hover;
        }
      }
    }
  }

  .bottomBar {
    background-color: $footer-claim-bg;

    :global(.container) > :global(.row) {
      height: 95px;
    }

    .copyright {
      p {
        margin: 0;
        color: $footer-copyright-p;
        font-size: 14px;
        line-height: 26px;
      }
    }
  }

  .socialMedia {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-left: 1rem;
      }

      li a {
        //@extend %hover-effect;
        color: $footer-socialMedia-a;
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .root {
    .footerMenu {
      height: 100%;
      padding: 5% 24%;

      img {
        padding-bottom: 0;
      }
    }

    .bottomBar {
      :global(.container) > :global(.row) {
        height: 94px;
      }

      .newText {
        max-width: 100%;
        text-align: center;
        color: $primary;
      }
    }
  }
}

@media (max-width: 750px) {
  .root {
    .footerMenu {
      height: 100%;
      padding: 5% 24%;

      img {
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 530px) {
  .root {
    .footerMenu {
      height: 100%;
      padding: 5% 30%;

      img {
        padding-top: 0;
      }
    }
  }
}
