@import "../../../styles/settings.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.root {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  .icona {
    text-align: center;
    padding-bottom: 20px;
  }

  .text {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  .photo {
    padding: 20px 5px 20px 40%;
    display: flex;

    img {
      width: 70px;
      height: 70px;
      padding-right: 15px;
    }
  }
}
